/* This is a bit over-engineered, but it shows how you can use css variables across css modules */
:root {
  --header-height: 60px;

  /* spacing system */
  --spacing-0: 8px;
  --spacing-1: calc(var(--spacing-0) * 2);
  --spacing-2: calc(var(--spacing-1) * 2);

  --border-radius: var(--spacing-0);

  /* color palette */
  --primary-color: #0471a6;
  --secondary-color: #3685b5;
  --accent-color: #ac80a0;
  --background-color: #061826;
  --text-color: #eeeeee;
}
